.netlify/
node_modules/
publish/
tools/
*.zip
*-check.png
home-check.png
android/.gradle/
android/.gradle-user/
android/.android-user/
android/app/build/
android/build/
android/plugin-build/
android/local.properties
.firebase/
firebase-debug.log
